*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 2em;
}

ul{
    list-style: none;
}

/* html{
    font-family: "Sofadi One", system-ui;
} */

/* layout*/
.contain-header{
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 10px;
}

.logo-text{
    font-size: 40px;
}

.logo-img, .logo-text{
    vertical-align: middle;
}

/* contain list */
main{
    background-color: rgb(240, 240, 240);
    padding: 30px 30px;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}

/* button */
.button, .list{
    padding: 20px 20px
}

.button-task, .button-section{
    border: 1px solid gray;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    color: gray
}

.button-task{
    background-color:dodgerblue;
    color: white;
}

/* liste */
.title-text{
    font-size: 30px;
    padding-left: 10px;
}

.text-list{
    font-size: 20px;
}

.simb-check{
    color: green;
}

.simb-cross{
    color: red;
}

.color-text{
    
    font-size: 13px;
    border-radius: 10px;
    color: white;
    vertical-align: middle;
    padding: 5px;
}

/* color right text */
.editorial{
    background-color: rgb(0, 153, 255);
}

.goals{
    background-color: blueviolet;
}

.recruiting{
    background-color: rgb(100, 177, 100);
}

.mobile{
    background-color: orange;
}

.website{
    background-color: rgba(230, 80, 210, 0.774);
}

.sales{
    background-color: rgb(93, 143, 18);
}